<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content='width=device-width, initial-scale=1'>
        <meta name="author" content="Ian Agpawa">
        <meta name="description" content="Catalog">
        <title>Restaurant Catalog</title>


        <link rel="stylesheet"
           href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
           integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
           crossorigin="anonymous">
       <link
           href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
           rel="stylesheet"
           integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
           crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond"
            rel="stylesheet">
       <link type='text/css' rel="stylesheet" href="/static/style.css">

       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
       </script>
       <script src="https://apis.google.com/js/client:platform.js?onload=start"
            async defer>
        </script>


    </head>

    <body>
        <div class='row top-menu'>
            <div class='col-md-6'>
                <a href="{{url_for('showRestaurants')}}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Show All Restaurants
                </a>
            </div>
            <div class='col-md-6 text-right'>
                {% if 'username' not in session %}
                <a href="{{url_for('showLogin')}}">Click Here to Log In</a>
                {% else %}
                <a href="{{url_for('disconnect')}}">Disconnect</a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
