<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content='width=device-width, initial-scale=1'>
        <meta name="author" content="Ian Agpawa">
        <meta name="description" content="Catalog">
        <title>Aural History</title>


        <link rel="stylesheet"
           href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
           integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
           crossorigin="anonymous">
       <link
           href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
           rel="stylesheet"
           integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
           crossorigin="anonymous">

       <link type='text/css' rel="stylesheet" href="/static/styles/main.css">

       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
       </script>
       <script src="https://apis.google.com/js/client:platform.js?onload=start"
            async defer>
        </script>
        <script src="//apis.google.com/js/platform.js?onload=start"></script>


    </head>

    <body>
        <div class="container-fluid">
            <div class='row top-part'>
                <div class='col-md-4 logit'>
                    <a id='home' href="{{url_for('showPlaylists')}}">
                        Aural History
                    </a>
                </div>
                <div class='col-md-offset-3 col-md-3 text-right logit'>
                    {% if 'username' not in session %}
                    <a class='log' id='login' href="{{url_for('showLogin')}}">Log In</a>
                    {% else %}
                    <ul class="navbar-nav navbar-right">
                          <li id='username'>{{session.username}}</li>
                          <li id="logout"><a id='logout-a' href="{{url_for('disconnect')}}">Log Out</a></li>
                    </ul>

                    {% endif %}
                </div>

            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
