{% extends "base.html" %}
{% block content %}
<div class='container-fluid text-center'>
    <div class='col-md-offset-4 col-md-4 flash text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>
    <br>
    <h1>Edit Playlist</h1>
    <form method='post'>
        <input type='text' size='30' name='edit_playlist_name'
            value="{{playlist.name}}">
        <br>
        <br>
        <textarea class='description-text'
            name="edit_playlist_description">{{playlist.description}}</textarea>
        <br>
        <a href="{{url_for('showSongs', playlist_id = playlist.id)}}">
            Cancel
        </a>
        <input class='CRUD-button' type='submit' value='Edit'>
    </form>
</div>


{% endblock %}
