{% extends "base.html" %}
{% block content %}

<div class='container-fluid'>
    <div class='col-md-offset-4 col-md-4 flash text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>
    </div>
    <br>
    <div class='col-md-6 col-md-offset-3 text-center'>
        <h1>Add New Playlist</h1>
        <form method='post'>
            <input type='text' size='30' name='playlist_name' placeholder="Playlist name">
            <br>
            <br>
            <textarea class='description-text' name="playlist_description" placeholder='Playlist description'></textarea>
            <br>
            <input class='create-button' type='submit' value='Create'>
        </form>
    </div>
</div>
{% endblock %}
