{% extends "base.html" %}
{% block content %}

<div class='container-fluid'>
    <div class='col-md-6 col-md-offset-3 text-center'>
        <h1>{{playlist.name}}</h1>
        <h3>Add a song</h3>
        <form method='post'>
            <input type='text' class='input-song' name='title'
                placeholder="Song Title (Required)">
            <br>
            <input type='text' class='input-song' name='artist'
                placeholder="Artist (Required)">
            <br>
            <input type='text' class='input-song' name='genre'
                placeholder="Genre">
            <br>
            <input type='text' class='input-song' name='youtube'
                placeholder="Youtube Link">
            <br>
            <input type="text" class='input-song' name='rendition'
                placeholder="Rendition of">
            <br>
            <input id='add-song CRUD-button' type='submit' value='Add'>
        </form>
    </div>
</div>
{% endblock %}
