{% extends "base.html" %}
{% block content %}
<div class='container-fluid playlists'>
    <div class='col-md-offset-4 col-md-4 text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>


    <div class='text-center'>
        <h1>Playlists</h1>
        <a href = "{{url_for('newPlaylist')}}">Create New Playlist</a>
    </div>


    {% for playlist in playlists %}
    <div class='container'>
        <div class='top-playlist'>
            <h2>
                <a href="{{url_for('showSongs', playlist_id = playlist.id)}}">
                    {{playlist.name}}
                </a>
                <h4>By {{playlist.user.name}}</h4>
            </h2>

            <div class='playlist-description'>
                <h3 class='playlist-description'>Description: </h3>
                <p class='playlist-description'>{{playlist.description}}</p>
            </div>

            <div class='row'>
                <div class='col-md-4 play-button' >
                    <a
                        href="{{url_for('editPlaylist', playlist_id = playlist.id)}}">
                        Edit Playlist
                    </a>
                    |
                    <a class='delete'
                        href="{{url_for('deletePlaylist', playlist_id = playlist.id)}}">
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>

</div>

{% endfor %}

{% endblock %}
