{% extends "base.html" %}
{% block content %}

<div class='container-fluid songs-page'>
	<div class="row banner menu">
		<div class="text-center">
			<h1 class='playlist-title'>{{ playlist.name }}</h1>
			<h3>
				<figure class="creator">
					<figcaption>By: {{ creator.name }}</figcaption>
				</figure>
			</h3>
		</div>
	</div>





	<div class='col-md-offset-4 col-md-4 text-center'>
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul>
	        {% for message in messages %}
	        <li><strong>{{message}}</strong></li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	{% endwith %}
	</div>

	<div class='col-md-4 col-md-offset-4'>
		<iframe class='thing'
		src="https://www.youtube.com/embed/VIDEO_ID?playlist={{songList}}"
			frameborder="0" allowfullscreen>
		</iframe>
	</div>
	<br>

    <br>

	<div>
	{% if songs !=[] %}
	{% for song in songs %}

		{% if song.youtube %}
		<div class='container'>
			<div class='row songs'>
				<div class='col-md-4'>
					<div class="post-youtube-playlist">
					   <iframe
							class='youtube-iframe-playlist'
							src="https://www.youtube.com/embed/{{song.youtube}}"
							frameborder="0" allowfullscreen>
						</iframe>
				   </div>
			   </div>

			   <a href="{{url_for('showSingle',
					playlist_id = song.playlist_id,
					song_id = song.id)}}">
				   <div class='col-md-4 col-md-offset-3 text-left'>

					  <h3>{{song.title}}</h3>

					   <p>By: {{song.artist}}</p>

					   {% if song.genre %}
					   <p>Gere: {{song.genre}}</p>
					   {% endif %}
					   {% if song.rendition %}
						   <p>Rendition of: {{song.rendition}}</p>
					   {% endif %}

				   </div>
			   </a>
	   		</div>
		</div>
		<br>
		<hr class="hr-black">
		<br>

	   {% else %}
	   <div class='container'>
		   	<div class='row songs'>
			   	<div class='col-md-4'>
				   	<div class="post-youtube-playlist">
					  <img
						   class='youtube-iframe-playlist'
						   src="http://lorempixel.com/400/200/nightlife">
			  		</div>
			  	</div>

				<a href="{{url_for('showSingle',
							playlist_id = song.playlist_id,
							song_id = song.id)}}">
					<div class='col-md-4 col-md-offset-3 text-left'>

							<h3>{{song.title}}</h3>


						<p>By: {{song.artist}}</p>
						{% if song.genre %}
							<p>Gere: {{song.genre}}</p>
						{% endif %}

						{% if song.rendition %}
							<p>Rendition of: {{song.rendition}}</p>
						{% endif %}
					</div>
				</a>
			</div>
		</div>
		<br>
		<hr class="hr-black">
		<br>
	{% endif %}


	{% endfor %}
	{% endif %}
	</div>

</div>

{% endblock %}
