{% extends "base.html" %}
{% block content %}
<div class='container-fluid playlists'>
    <div class='col-md-offset-4 col-md-4 text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>


    <div class='text-center'>
        <h1>Playlists</h1>

    </div>

    <div id="playlist-tiles"></div>

    {% for playlist in playlists %}
    <div class='container col-md-4'>
        <div class='top-playlist'>
            <h2>
                <a href="{{url_for('showSongs', playlist_id = playlist.id)}}">
                    {{playlist.name}}
                </a>
            </h2>
            <h4>By {{playlist.user.name}}</h4>

            <div class='playlist-description'>
                <h3 class='playlist-description'>Description: </h3>
                <p class='playlist-description'>{{playlist.description}}</p>
            </div>

        </div>
        <hr>
    </div>
    {% endfor %}
</div>


<script type='text/javascript'>

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
