{% extends "base.html" %}
{% block content %}



<div class='container-fluid playlists'>
    <div class='col-md-offset-4 col-md-4 text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>
    <br>
    <div class='col-md-12 top-row'>
        <div class='container-fluid text-center welcome-tile'>
            <h1 class="playlist-h1">Welcome</h1>

            <div class='container-fluid'>
                <div class='col-md-8 col-md-offset-2 '>
                <p>
                    Thanks for visitng my music catalog!  Feel free to add your
                     own playlists, or just browse the playlists below to
                     listen to the music I like.
                </p>
                </div>
            </div>
        </div>

        <div>
            <div class='col-md-4 col-md-offset-2 playlist-tile-special'>
                <div class='top-playlist text-center'>
                    <h2 class='text-center playlist-tile-text special-h2'>
                            Latest Song
                    </h2>
                    <hr class='hr-black'>

                    <div class='playlist-tile-text'>
                        <div id="player" class="youtube-div">
                            <iframe
                                class='youtube-iframe-front'
                                src="https://www.youtube.com/embed/?autoplay=1&iv_load_policy=3&controls=2&playlist={{ songList }}"
                                frameborder="0" allowfullscreen>
                             </iframe>
                        </div>

                    </div>
                </div>
                <br>
            </div>






            <div class='col-md-4 playlist-tile-special'>
                <div class='top-playlist text-center'>
                    <a class="playlist-title" href="{{url_for('showFeaturedSingle',
                        featured_song_id = featured.id)}}">
                        <h2 class='text-center playlist-tile-text special-h2'>
                                Featured Song:
                        </h2>

                    </a>
                    <hr class='hr-black'>
                    <div class='playlist-tile-text'>


                        <div class="youtube-div">
                            <iframe
                                 class='youtube-iframe-front featured-youtube'
                                 src="https://www.youtube.com/embed/{{featured.youtube}}"
                                 frameborder="0" allowfullscreen>
                             </iframe>
                        </div>
                        <h4>{{featured.title}}</h4>
                        <p>by {{featured.artist}}</p>

                    </div>
                </div>
                <br>
            </div>

        </div>

        <div class='col-md-12'>
            <div class='container-fluid playlists-list'>
                <h1 class='playlists-title text-center'>Playlists</h1>
            {% for playlist in playlists %}

            <div class='col-md-4 playlist-tile'>
                <div class='top-playlist text-center'>
                    <a class='' href="{{url_for('showSongs',
                            playlist_id = playlist.id)}}">
                        <h1 class='text-center playlist-tile-text special-h2'>
                                {{playlist.name}}
                        </h1>


                        <hr class='hr-black'>


                    </a>


                    <div class='playlist-tile-text'>
                        {% if get_number_of_songs(playlist.id) %}
                        <div class="youtube-div">
                            <iframe
                                 class='youtube-iframe-front'
                                 src="https://www.youtube.com/embed/{{get_latest_song(playlist.id).youtube}}"
                                 frameborder="0" allowfullscreen>
                             </iframe>
                        </div>
                        {% endif %}

                    </div>
                    <br>
                    <p>{{playlist.description}}</p>



                    {% if get_number_of_songs(playlist.id) == 1 %}
                    <h6>{{ get_number_of_songs(playlist.id) }} song</h6>
                    {% elif get_number_of_songs(playlist.id) > 1 %}
                    <h6>{{get_number_of_songs(playlist.id)}} songs</h6>
                    {% else %}
                    <h6>0 songs</h6>
                    {% endif %}

                </div>
                <br>

            </div>



            {% endfor %}
            </div>
        </dvi>

    </div>
</div>


{% endblock %}
