{% extends "base.html" %}
{% block content %}
<div class='container-fluid playlists'>
    <div class='col-md-offset-4 col-md-4 text-center'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
    <br>


    <div class='text-center'>
        <h1>Playlists</h1>

    </div>
    <br>
    <br>

    

    {% for playlist in playlists %}
    <a class="playlist-title" href="{{url_for('showSongs', playlist_id = playlist.id)}}">
    <div class='container col-md-3 playlist-tile'>

        <div class='top-playlist'>
            <h2 class='text-center'>

                    {{playlist.name}}

            </h2>
            <h4 class='text-center'>By {{playlist.user.name}}</h4>
            <hr>


            <div class=''>
                <h4 class='playlist-description'>Description: </h4>
                <p class='playlist-description'>{{playlist.description}}</p>
                <br>
                {% if playlist.time_updated %}
                <h5 class='playlist-time text-left'>Last Modified: {{playlist.time_updated}}</h5>
                {% else %}
                <h5 class='playlist-time text-left'>Created On: {{ playlist.time_created }}</h5>
                {% endif %}
            </div>
        </div>
        <br>

    </div>
    </a>

    {% endfor %}
</div>


{% endblock %}
