{% extends "base.html" %}
{% block content %}


<div class="col-md-12 post-youtube youtube-single">
    {% if song.youtube %}
    <div id="player" class="col-md-6 youtube-div">
       <iframe
            class='youtube-iframe'
            src="https://www.youtube.com/embed/{{song.youtube}}"
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
   {% else %}
    <div id="player" class="col-md-6 youtube-div">
       <img class='placeholder-img'
            src="http://lorempixel.com/800/500/nightlife">
    </div>
   {% endif %}


    <div class='col-md-4 col-md-offset-2 text-left white-letter single-info'>
        <h2>{{song.title}}</h2>
        <h4>By {{song.artist}}</h4>
        {% if retrieved_info %}
            {% if retrieved_info.album %}
                {% if retrieved_info.album_link %}
                <h4><a class='white-letter' href='{{retrieved_info.album_link}}' target='_blank'>
                    Album: {{retrieved_info.album}}
                </a></h4>
                {% else %}
                <h3>Album: {{retrieved_info.album}}</h3>
                {% endif %}
            {% endif %}

            {% if retrieved_info.wiki_summary %}
                <p>{{retrieved_info.wiki_summary}}</p>
            {% else %}
                {% if retrieved_info.wiki_content %}
                <p>{{retrieved_info.wiki_content}}</p>
                {% endif %}
            {% endif %}

            {% if retrieved_info.song_url %}
            <a class='white-letter' href='{{retrieved_info.song_url}}' target='_blank'>
                Click here visit Last.fm
            </a>
            {% endif %}

        {% endif %}


        {% if song.genre %}
        <h4>Genre: {{song.genre}}</h4>
        {% endif %}
        {% if retrieved_info.tags %}
        <h4>Tags</h4>
        <ul>
            {% for tag in retrieved_info.tags %}
            <li class='white-letter inline'>{{tag.name}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if song.rendition %}
        <h4>Rendition Of {{song.rendition}}</h4>
        {% endif %}
        <h5>Added by {{song.user.name}} to the {{song.playlist.name}} playlist on {{song.time_created.strftime("%B %d, %Y")}}.</h5>

    </div>
</div>
{% endblock %}
