{% extends "base.html" %}
{% block content %}


<div class="col-md-12 post-youtube youtube-single">
    {% if song.youtube %}
    <div cid="player" class="col-md-6 youtube-div">
       <iframe
            class='youtube-iframe'
            src="https://www.youtube.com/embed/{{song.youtube}}"
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
   {% else %}
    <div id="player" class="col-md-6 youtube-div">
       <img class='placeholder-img'
            src="http://lorempixel.com/800/500/nightlife">
    </div>
   {% endif %}


    <div class='col-md-4 col-md-offset-2 text-left single-info'>
        <h2 class='white-letter'>"{{song.title}}"</h2>
        <h2 class='white-letter'>{{song.artist}}</h2>
        {% if song.rendition %}
        <h4 class='white-letter'>Rendition Of {{song.rendition}}</h4>
        {% endif %}
        {% if song.genre %}
        <h4 class='white-letter'>Genre: {{song.genre}}</h4>
        {% endif %}
        <br>
        <h5 class='white-letter'>Belongs in the {{song.playlist.name}} playlist</h4>
        <h5 class='white-letter'>Added by {{song.user.name}}</h4>
        <br>
        <h5 class='white-letter'>Created on: {{song.time_created}}</h5>
    </div>
</div>
{% endblock %}
