{% extends "base.html" %}
{% block content %}


<div class="col-md-12 post-youtube youtube-single">
    {% if song.youtube %}
    <div id="player" class="col-md-6 youtube-div">
       <iframe
            class='youtube-iframe'
            src="https://www.youtube.com/embed/{{song.youtube}}"
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
   {% else %}
    <div id="player" class="col-md-6 youtube-div">
       <img class='placeholder-img'
            src="http://lorempixel.com/800/500/nightlife">
    </div>
   {% endif %}


    <div class='col-md-4 col-md-offset-2 text-left single-info'>
        <h2 class='white-letter'>{{song.title}}</h2>
        <h3 class='white-letter'>By {{song.artist}}</h3>
        {% if retrieved_info %}
            {% if retrieved_info.album and retrieved_info.album_link %}
            <h3><a class='white-letter' href='{{retrieved_info.album_link}}' target='_blank'>
                Album: {{retrieved_info.album}}
            </a></h3>
            {% endif %}

            {% if retrieved_info.wiki_summary %}
                <p class='white-letter'>{{retrieved_info.wiki_summary}}</p>
            {% else %}
                {% if retrieved_info.wiki_content %}
                <p class='white-letter'>{{retrieved_info.wiki_content}}</p>
                {% endif %}
            {% endif %}
            {% if retrieved_info.song_url %}
            <a class='white-letter' href='{{retrieved_info.song_url}}' target='_blank'>
                Click here to read more at Last.fm
            </a>
            {% endif %}
        {% endif %}

        {% if song.rendition %}
        <h4 class='white-letter'>Rendition Of {{song.rendition}}</h4>
        {% endif %}
        {% if song.genre %}
        <h4 class='white-letter'>Genre: {{song.genre}}</h4>
        {% endif %}
        <br>
        <h5 class='white-letter'>Added by {{song.user.name}} to the {{song.playlist.name}} playlist on {{song.time_created.strftime("%B %d, %Y")}}.</h5>
    </div>
</div>
{% endblock %}
