{% extends "base.html" %}
{% block content %}

<div class='container-fluid songs-page'>
	<div class="row banner menu">
		<div class="text-center">
			<h1 class='playlist-title'>{{ playlist.name }}</h1>
			<h3>
				<figure class="creator">
					<figcaption>By: {{ creator.name }}</figcaption>
				</figure>
			</h3>
            <a href="{{url_for('newSong', playlist_id = playlist.id)}}">
                Add new song
            </a>
		</div>
	</div>



	<div class='col-md-offset-4 col-md-4 text-center'>
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul>
	        {% for message in messages %}
	        <li><strong>{{message}}</strong></li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	{% endwith %}
	</div>
	<br>
    <br>
	<div class='container-fluid'>
		<div class='row'>
			{% if songs !=[] %}
				{% for song in songs %}
				<div class='songs'>
					{% if song.youtube %}
					<div class='col-md-offset-2 col-md-5'>
						<div class="post-youtube-playlist">
						   <iframe
								class='youtube-iframe-playlist'
								src="https://www.youtube.com/embed/{{song.youtube}}"
								frameborder="0" allowfullscreen>
							</iframe>
					   </div>
				   </div>
				   <div class='col-md-offset-1 col-md-4 text-left'>
					   <a href="{{url_for('showSingle', playlist_id = song.playlist_id, song_id = song.id)}}">
						   <h3>{{song.title}}</h3>
					   </a>
					   <p>By: {{song.artist}}</p>
					   {% if song.genre %}
					   <p>Gere: {{song.genre}}</p>
					   {% endif %}
					   {% if song.rendition %}
						   <p>Rendition of: {{song.rendition}}</p>
					   {% endif %}

					   <div>
						   <a href="{{url_for('editSong',
								   playlist_id = playlist.id,
								   song_id = song.id)}}">
							   Edit
						   </a>
						   |
						   <a class='delete' href="{{url_for('deleteSong',
									   playlist_id = playlist.id,
									   song_id = song.id)}}">
							   Delete
						   </a>
					   </div>
				   </div>
				   {% else %}
				   <div class='col-md-offset-2 col-md-4'>
					   <div class="post-youtube-playlist">
						  <img
							   class='youtube-iframe-playlist'
							   src="http://lorempixel.com/400/200/nightlife">
					  </div>
				  </div>
					<div class='col-md-offset-1 col-md-5 text-left'>
						<a href="{{url_for('showSingle', playlist_id = song.playlist_id, song_id = song.id)}}">
							<h3>{{song.title}}</h3>
						</a>
						<p>By: {{song.artist}}</p>
						{% if song.genre %}
						<p>Gere: {{song.genre}}</p>
						{% endif %}
						{% if song.rendition %}
							<p>Rendition of: {{song.rendition}}</p>
						{% endif %}

		                <div>
		                    <a href="{{url_for('editSong',
		                            playlist_id = playlist.id,
		                            song_id = song.id)}}">
		                        Edit
		                    </a>
							|
		                    <a class='delete' href="{{url_for('deleteSong',
		                                playlist_id = playlist.id,
		                                song_id = song.id)}}">
		                        Delete
		                    </a>
		                </div>
					</div>
					{% endif %}
				</div>
				<hr>
				<br>
				{% endfor %}
			{% endif %}
		</div>
	</div>

</div>

{% endblock %}
