
body{
    background-color: #D5DDE5;
    overflow: auto;
}


a{
    color: black;
}

a:hover{
    color: #7A4300;
    text-decoration: none;
}



.linkage:hover{
    color: #CC7000;
}

/*  nav */
.top-part{
    padding-top: 3vh;
    padding-bottom: 2vh;
    background-color: #111135;
    vertical-align: middle;
}


#home{
    font-size: 30px;
    padding-left: 7vw;
    color: white;
}

#user-image{
    margin-right: 1vw;
}
#home:hover,
#login:hover,
#logout-a:hover{
    color: #CC7000;
    text-decoration: none;
}


.log,
#logout-a,
#logout,
#username{
    font-size: 20px;
    color: white;
}

.logit{
    display: inline;
}

#username{
    padding-right: 2vw;
}
/*  messages    */

ul{
    list-style-type: none;
    color: red;
}

/*  login   */

.login-page{
    padding-top: 10vh;
}

#facebook-button{
    margin-top: 5vh;
}

#a-logout{
    color: white;
}

/*  playlists   */

.create-playlist{
    margin: 20px;
}

.create-playlist-btn{
    background-color: #111135;
    color: white;
    border-radius: 25px;
    border: 2px solid #88887B;
}

.playlist-tile{
    background-color: #111135;
    height: 33vh;
    margin: 2px;
    padding-left,
    padding-right: 2vw;
    margin: 0;
    margin-bottom: 7vh;
    border: 2px solid #88887B;
}

.playlist-tile-text{
    color: #DCDCDC;
}

.playlist-tile:hover .playlist-tile-text{
    opacity: .8;
    color: #7A4300;
}



.playlist-description{
    display: inline;
}

.playlist-time{
    position: absolute;
    bottom: 0;
}

.play-button{
    padding-top: 1vh;
}

.edit {
    color: orange;
}
.delete{
    color: red;
}

/*  newsong */
#add-song{
    margin-top: 2vh;
    margin-left: 15vw;
}

.input-song{
    height: 3vh;
    width: 23vw;
}

/*  new playlist*/
.description-text{
    width: 23vw;
    height: 15vh;
}

.create-button,
.CRUD-button{
    margin-left: 20vw;
    margin-top: 2vh;
}

/*  single  */

.youtube-iframe,
.placeholder-img{
    display: block;
    width: 50vw;
    height: 60vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.inline{
    display:inline;
}

/*  delete playlist     */
.warning{
    color: red;
}

/*  songs   */
.songs{
    /*height: 29vh;*/
    display: inline;

}
.youtube-iframe-playlist{
    display: inline;
    width: 30vw;
    height: 28vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.song-title{
    color: black;
}

.hr-black{
    border-top: 1px solid #000;
}

.error{
    padding-top: 15vh;
}

.flash{
    margin-top: 5vh;
}

#error-return{
    margin-top: 10vh;
}
/*  footer
.foot{
    padding-bottom: 1vh;
    padding-top: 2vh;
    font-size: 20px;
    color: white;
    background-color: #000033;
    height: 5vh;
    margin-top: 50vh;
    clear: both;

}
*/
