
body{
    overflow: auto;
}

hr{
    color: black;
}
a{
    color: black;
}

a:hover{
    color: #7A4300;
    text-decoration: none;
}



.linkage:hover{
    color: #CC7000;
}

/*  nav */
.top-part{
    height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #08081A;
    vertical-align: middle;
}

.logit{
    padding-top: 1vh;
}

#home{
    font-size: 30px;
    color: white;
}

#user-image{
    margin-right: 1vw;
}
#home:hover,
#login:hover,
#logout-a:hover{
    color: #CC7000;
    text-decoration: none;
}


.log,
#logout-a,
#logout,
#username{
    font-size: 20px;
    color: white;
}


#username{
    padding-right: 2vw;
}
/*  messages    */

ul{
    list-style-type: none;
    color: red;
}

/*  login   */

.login-page{
    padding-top: 10vh;
}

#facebook-button{
    margin-top: 5vh;
}

#a-logout{
    color: white;
}

/*  playlists   */

.playlists-title{
    font-variant: small-caps;
    font-size: 50px;
    margin-top: 5vh;

}

.playlist{
    margin-top: 5vh;
}

.playlist-info{
    padding-left: 12vw;
}

.iframe-front{
    width: 28vw;
    height: 26vh;
}

.hr-playlist{
    margin-top: 8vh;
    border-top: 1px solid #000;
}


.latest{
    background-color: black;
}
.orange{
    color: #CC7000;
}

.latest-info{
    margin-bottom: 3vh;
}

.playlist-h1{
    font-size: 50px;
    font-variant: small-caps;
}



.youtube-iframe-front{
    display: block;
    width: 28vw;
    height: 30vh;
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}


.create-playlist-btn{
    background-color: #111135;
    color: white;
    border-radius: 25px;
    border: 2px solid #88887B;
}


.playlist-tile{
    margin-top: 2vh;
}


.special-h2{
    font-variant: small-caps;
}



.playlist-tile-special:hover .playlist-tile-text {
    color: #7A4300;

}


.playlist-description{
    display: inline;
}


.play-button{
    padding-top: 1vh;
}

.edit {
    color: orange;
}
.delete{
    color: red;
}

/*  newsong */
#add-song{
    margin-top: 2vh;
    margin-left: 15vw;
}

.input-song{
    height: 3vh;
    width: 23vw;
}

/*  new playlist*/
.description-text{
    width: 23vw;
    height: 15vh;
}

.create-button,
.CRUD-button{
    margin-left: 20vw;
    margin-top: 2vh;
}



/*  single  */

.youtube-iframe,
.placeholder-img{
    display: block;
    width: 60vw;
    height: 79vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}



.youtube-single{
    margin-top: 8vh;
}

.single-info{
    margin-top: 7vh;
}

.inline{
    display:inline;
}

/* featured single*/
.featured-single-h1{
    font-weight: 600;
    font-variant: small-caps;
}

.featured-single{
    margin-top: 5vh;
}

/*  delete playlist     */
.warning{
    color: red;
}

/*  songs   */

.post-youtube{
    background-color: black;
}

.iframe-youtube{
    display: block;
    width: 60vw;
    height: 73vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.public-yp{
    height: 77vh;
}

.white-letter{
    color: white;
}

.white-letter-hover:hover{
    color: green;
}


.song-list{
    color: orange;
}

.playlist-scroll{
    overflow-y: auto;
}

.songs{
    /*height: 29vh;*/
    display: inline;

}

.youtube-iframe-playlist{
    display: inline;
    width: 30vw;
    height: 28vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}




.song-title{
    color: black;
}

.hr-black{
    border-top: 2px solid #000;
}

.error{
    padding-top: 15vh;
}

.flash{
    margin-top: 5vh;
}

#error-return{
    margin-top: 10vh;
}
/*  footer
.foot{
    padding-bottom: 1vh;
    padding-top: 2vh;
    font-size: 20px;
    color: white;
    background-color: #000033;
    height: 5vh;
    margin-top: 50vh;
    clear: both;

}
*/
